fastapi
uvicorn
nested-lookup
logstash_formatter
fastapi_utils
dotted-dict
requests
email_validator
bcrypt
pymongo
docker
celery==5.2.7
redis==4.1.2
flower
gevent
python-multipart
content_size_limit_asgi
